<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{pageTitle}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="deleteEmp()" *ngIf="empObjectToEdit">
                <ion-icon class="trash" name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form #form="ngForm">
        <ion-item>


            <ion-input type="text" [(ngModel)]="empName" name="name" placeholder="Employe name" required>
                <ion-icon slot="start" name="person"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-list>
            <ion-item>
                <ion-icon slot="start" name="bag-outline"></ion-icon>
                <ion-select placeholder="Select role" [(ngModel)]="selectedRole" name="role" interface="action-sheet">
                    <ion-select-option value="Product Designer">Product Designer</ion-select-option>
                    <ion-select-option value="Flutter Developer">Flutter Developer</ion-select-option>
                    <ion-select-option value="QA Tester">QA Tester</ion-select-option>
                    <ion-select-option value="Product Owner">Product Owner</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-item>
            <ion-icon slot="start" name="time-outline"></ion-icon>
            <ion-label>Duration</ion-label>
        </ion-item>

        <ion-item>

            <ion-label>From Date</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-icon class="arrow" name="arrow-forward"></ion-icon>
            <ion-label>To Date</ion-label>
            <ion-datetime-button datetime="datetime1"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">

                <ng-template>

                    <ion-toolbar>

                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="full" (click)="setTodayFromModal()">Today</ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button expand="full" (click)="nextOneDayFromModal()">Next
                                        {{nextOneDayBtnCaptionFromModal}}</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="full" (click)="nextTwoDayFromModal()">Next
                                        {{nextTwoDayBtnCaptionFromModal}}</ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button expand="full" (click)="laterWeekFromModal()">After 1 Week</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-toolbar>
                    <ion-datetime id="datetime" presentation="date" [(ngModel)]="selectedFromDate" name="date"
                        (ionChange)="onFromDateChanged($event)">

                    </ion-datetime>
                    <ion-toolbar>

                        <ion-label slot="start">
                            {{selectedFromDate | date: 'dd MMM yyyy'}}
                        </ion-label>
                        <ion-buttons slot="end">
                            <ion-button (click)="closeFromModal()">Close</ion-button>
                            <ion-button (click)="saveFromDate()">Save</ion-button>

                        </ion-buttons>
                    </ion-toolbar>
                </ng-template>
            </ion-modal>

            <ion-modal [keepContentsMounted]="true">

                <ng-template>

                    <ion-toolbar>

                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="full" (click)="setToDateNull()">No date</ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button expand="full" (click)="setTodayToModal()">Today</ion-button>
                                </ion-col>
                            </ion-row>

                        </ion-grid>
                    </ion-toolbar>
                    <ion-datetime id="datetime1" presentation="date" [(ngModel)]="selectedToDate" name="date1"
                        (ionChange)="onToDateChanged($event)">

                    </ion-datetime>
                    <ion-toolbar>

                        <ion-label slot="start" *ngIf="selectedToDate">
                            {{selectedToDate | date: 'dd MMM yyyy'}}
                        </ion-label>
                        <ion-label slot="start" *ngIf="selectedToDate == null">
                            No Date.
                        </ion-label>
                        <ion-buttons slot="end">
                            <ion-button (click)="closeToModal()">Close</ion-button>
                            <ion-button (click)="saveToDate()">Save</ion-button>

                        </ion-buttons>
                    </ion-toolbar>
                </ng-template>
            </ion-modal>


        </ion-item>
    </form>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="goBack()">Cancel</ion-button>
            <ion-button color="primary" (click)="saveData()">Save</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>