


  ion-input {
    background-color: transparent;
   
  }

  ion-icon {
    color:var(--primary-color); 
    font-size: 20px; 
    padding-left: 5px;
  }
  

  ion-footer{
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0;
    z-index: 10;
  }

  


  
  

  